[home-list]{
    display: block;
    margin-bottom: 20px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-sizing: border-box;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    border-radius: 3px;
}
header{
    background: #00897b !important;
}
.brand-logo{
    display: flex !important;
    width: 100%;
    justify-content: center;
    flex-flow: row;
    flex-direction: row;
}
.brand-logo img{
    display: inline-flex;
    max-height: 53px;
}

.white-bg{
    background: #ffffff;
}
[full-width]{
    width: calc(100% - 2px);
}