main{
    max-width: 600px;
    margin: auto;
}
[home-list]{
    display: block;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 #00000026, 0 2px 10px 0 #0000001f;
    box-sizing: border-box;
    padding: 10px;
    max-width: 550px;
    margin: 0px auto 22px auto;
    border-radius: 3px;
    color: #14615a;
}
header{
    background: #00897b !important;
}
.brand-logo{
    display: flex !important;
    width: 100%;
    justify-content: center;
    flex-flow: row;
    flex-direction: row;
}
.brand-logo img{
    display: inline-flex;
    max-height: 53px;
}

.white-bg{
    background: #ffffff;
}
[full-width]{
    width: calc(100% - 2px);
}